.main{

  .logoIimg{

    width: 100px;

    height: 50px;
  }

  .content{

    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    top: 10%;

    width: 100%;

    height: 90%;

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    padding: 10px;

    .contentNav{

      height: 100%;

      width: 35%;

      color: $defColour;

      padding-right:10px ;
      display: flex;
      flex-direction: column;

      .contentNavNav{
        overflow: auto;
        height: 89%;

        .element{

          cursor: pointer;

          text-align: left;

          @include transition(all $duration ease-in);

          padding-left: 15px;

          &:hover {


            background-color: lighten($defColour,10);

            color:white;

            @include translateX(5px);

          }

        }
      }

      .btn-back{
        height: 7%;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 98%;

      }

    }

    .contentOutput{

      overflow-x: hidden !important;

      height: 100%;

      width: 65%;

      text-wrap: normal;

      .nothingToShow{

        height: 100%;

        background: lighten($defColour,40);

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        span{
          display: block;
          font-size: 20pt;
        }
      }

    }

    .contentNavLoader{

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: lighten($defColour,45);

      border-radius: 4px;

      opacity: 0.6;

      z-index: 20;

      color: black;

      display: flex;

      justify-content: center;

      align-items: center;

      @include transition(background 0.3s );
    }

    .debugTools{
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: lighten($defColour,45);


      @include transition(all $duration);

      &:hover{
        background-color: $defColour;

        &>a.btn{

          color: white;

        }
      }

      &>a.btn{

        color: black;

      }
    }

  }
}


