.main{

  .content{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    top: 10%;

    width: 100%;

    height: 90%;

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    //border: 1px solid;

    padding: 10px;

    .contentNav{

      height: 100%;

      width: 35%;
      //border-right: 1px solid;

      color: $defColour;

      padding-right:10px ;
      display: flex;
      flex-direction: column;

      .contentNavNav{
        overflow: auto;
        height: 89%;

        .element{

          cursor: pointer;

          //height: 50px;
          text-align: left;

          @include transition(all $duration ease-in);

          padding-left: 15px;

          &:hover {


            background-color: lighten($defColour,10);

            color:white;

            @include translateX(5px);

          }

        }
      }

      .btn-back{
        height: 7%;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 98%;

      }

    }

    .contentOutput{

      overflow-x: hidden !important;

      height: 100%;

      width: 65%;

      text-wrap: normal;

    }

    .contentNavLoader{

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: lighten($defColour,45);

      border-radius: 4px;

      opacity: 0.6;

      z-index: 20;

      color: black;

      display: flex;

      justify-content: center;

      align-items: center;

      @include transition(background 0.3s );
    }

  }
}


