/* line 3, ../sass/_default.scss */
.main .logoIimg {
  width: 100px;
  height: 50px;
}
/* line 10, ../sass/_default.scss */
.main .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 10%;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
}
/* line 28, ../sass/_default.scss */
.main .content .contentNav {
  height: 100%;
  width: 35%;
  color: gray;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}
/* line 40, ../sass/_default.scss */
.main .content .contentNav .contentNavNav {
  overflow: auto;
  height: 89%;
}
/* line 44, ../sass/_default.scss */
.main .content .contentNav .contentNavNav .element {
  cursor: pointer;
  text-align: left;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding-left: 15px;
}
/* line 54, ../sass/_default.scss */
.main .content .contentNav .contentNavNav .element:hover {
  background-color: #9a9a9a;
  color: white;
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}
/* line 68, ../sass/_default.scss */
.main .content .contentNav .btn-back {
  height: 7%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 98%;
}
/* line 80, ../sass/_default.scss */
.main .content .contentOutput {
  overflow-x: hidden !important;
  height: 100%;
  width: 65%;
  text-wrap: normal;
}
/* line 90, ../sass/_default.scss */
.main .content .contentOutput .nothingToShow {
  height: 100%;
  background: #e6e6e6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* line 101, ../sass/_default.scss */
.main .content .contentOutput .nothingToShow span {
  display: block;
  font-size: 20pt;
}
/* line 109, ../sass/_default.scss */
.main .content .contentNavLoader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f3f3f3;
  border-radius: 4px;
  opacity: 0.6;
  z-index: 20;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* line 136, ../sass/_default.scss */
.main .content .debugTools {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f3f3f3;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 145, ../sass/_default.scss */
.main .content .debugTools:hover {
  background-color: gray;
}
/* line 148, ../sass/_default.scss */
.main .content .debugTools:hover > a.btn {
  color: white;
}
/* line 155, ../sass/_default.scss */
.main .content .debugTools > a.btn {
  color: black;
}
