<div class="main">

    <app-nav [currentFolder]="currentFolder" (OnPathChange)="goToPath($event)"></app-nav>

  <div class="content container-fluid col-md-12">

    <div class="contentNavLoader" *ngIf="loader"> <i class="fa fa-cog fa-spin fa-5x"></i> </div>

    <app-sidenav class="contentNav col-md-6" [supportedExtension]="supportedExtensions" [currentFolder]="currentFolder" [fileList]="fileList" (OnPathChange)="goToPath($event)" (OnChangeContent)="changeContent($event)"></app-sidenav>

    <div class="contentOutput col-md-6 " >

        <div *ngIf="fileContent !== null">

            <app-text *ngIf="isTextFile(contentType)" [fileContent]="fileContent" [htmlElementViewContent]="htmlElementViewContent" [contentType]="contentType" ></app-text>
            
            <app-audio *ngIf="isAudioFile(contentType)" [fileAbsPath]="fileAbsPath" [fileRelativePath]="fileRelativePath"></app-audio>
            <!--<app-image *ngIf="isImageFile(contentType)"></app-image>-->

        </div>


      <div class="nothingToShow" *ngIf="fileContent === null">

            <span>

                Nothing to show

            </span>

      </div>

    </div>

    <app-debug class="debugTools" [loadTime]="loadTime" [buildTime]="buildTime"></app-debug>

  </div>

</div>